.popoverButton {
  border-radius: 18px;
  width: 120px;
  outline: none;
}

.popoverPanel {
  background: linear-gradient(184deg, #1a1f30 3.27%, #282b3e 158.7%);
  background-color: rgba(57, 64, 94, 0.9);
  border-radius: 18px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.05));
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  width: 125px;

  button, a {
    display: block;
    padding: 14px 20px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-align: center;

    &:hover {
      background: linear-gradient(
        175.67deg,
        #82b4ff -18.19%,
        rgba(130, 180, 255, 0) 128.22%
      );
    }
  }
}

.button {
  align-items: center;
  background: linear-gradient(
    180.3deg,
    #82b4ff -376.28%,
    rgba(130, 180, 255, 0) 99.91%
  );
  border-radius: 18px;
  border: 1.5px solid #82b4ff;
  box-shadow: inset 0px 4px 25px rgba(0, 0, 0, 0.25);
  color: var(--gray1);
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: 48px;
  padding: 0 24px;
  text-transform: uppercase;
  justify-content: center;
  outline: none;

  &:hover {
    background: linear-gradient(
      175.67deg,
      #82b4ff -18.19%,
      rgba(130, 180, 255, 0) 128.22%
    );
  }
}